body {
  color: var(--crdr-fbc);
  background-color: var(--crdr-bgc-dark1);
  font-family: var(--crdr-tfont);
  font-size: 12px;
  line-height: 1.8;
  padding: 1em;
  margin: auto;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--crdr-hfont);
  font-weight: bold;
  text-align: center;
  width: 100%;
}

h1 { color: var(--crdr-pubfbc-h1); font-size: 36px; }
h2 { color: var(--crdr-pubfbc-h2); font-size: 28px; }
h3 { color: var(--crdr-pubfbc-h3); font-size: 22px; }
h4,h5,h6 { color: var(--crdr-fbc); font-size: 18px; }

.motto {
  font-family: var(--crdr-mfont);
  font-size: 56px;
  line-height: 56px;
  font-style: italic;
  text-align: center;
  padding: 0;
  margin: 0;
  color: var(--crdr-pubfbc-m);
}

.bigcont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 600px;
  margin: auto;
}
.bigrow {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  text-align: left;
  align-items: center;
}
.bigtext {
  font-family: var(--crdr-hfont);
  font-weight: bold;
  color: var(--crdr-pubfbc-h1);
  font-size: 64px;
  line-height: 1.1;
}
.biglink { 
  background-color: var(--crdr-bgc-dark2);
  color: var(--crdr-pubfbc-h3);
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  display: block;
  padding: 5px 0px;
  border: 2px solid rgb(146,194,149); /*rgb(146,178,191); */
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(146,194,149,0.2); /* rgba(146,178,191,0.5); */
  /* transition: box-shadow 0.2s; */
}
.bigcont a.biglink:first-of-type {
  box-shadow: 0 0 15px rgba(146,194,149,0.85); /* rgba(151,186,200,0.9); */
  margin: 5px;
}

.biglink img {
  object-fit: contain;
  vertical-align: middle;
}
.biglink:hover {
  /* box-shadow: 0 0 15px rgba(146,178,191,0.9); */
  background-color: #3a3a3a;
}
.addcontact {
  background-color: var(--crdr-bgc-dark2);
  color: rgb(146,178,191);
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 0px;
  border: 2px solid rgb(146,178,191);
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(146,178,191,0.85);
  width: auto;
}
.addcontact:hover {
  background-color: #3a3a3a;
}
.addcontact img {
  object-fit: contain;
  vertical-align: middle;
}
